* {
  margin: 0;
  font-family: Roboto;
}

.flex-content {
  display: flex;
}

header {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: space-evenly;
}

#section-1 {
  margin: 15px;
}

#Youtube-logo {
  margin-left: 20px;
}

#search {
  display: flex;
  margin-top: 10px;
}

#search-bar {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px 5px 10px;
  width: 80%;
  height: 18px;
  border: 1px solid rgb(65, 64, 64);
  font-size: 15px;
}

#search-button {
  background-color: rgb(65, 64, 64);
  width: 50px;
  height: 30px;
  margin-left: 0px;

}

#search-image {
  margin: 3px;
  margin-left: 10px;
}

#other-buttons {
  display: flex;
  height: 23px;
  justify-content: space-evenly;
  margin-top: 15px;
  align-items: center;
}

#sign-in-button {
  display: flex;
  background: none;
  border: 2px solid rgb(62, 166, 255);
  border-radius: 2px;
  color: rgb(62, 166, 255);
  height: 40px;
  width: 110px;
}

#sign-in-icon {
  height: 25px;
  margin-top: 5px;
}

#sign-in {
  margin: 9px;
}


main {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#container {
  width: 97%;
}

#video {
  margin: 30px;
  margin-left: 90px;
  margin-bottom: 10px;
}

#caption {
  margin-top: 10px;
  margin-left: 90px;
  color: white;
  font-size: 18px;
}

#info-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 90px;
  margin-top: 10px;
}

.info-text {
  color: gray;
  font-size: 14px;
}

hr {
  margin-left: 90px;
}

#utility {
  display: flex;
  justify-content: space-evenly;
}

.utility-buttons {
  height: 20px;
}

.image-text {
  margin: 4px;
  margin-right: 6px;
}

#like-and-dislike {
  margin-left: 462px;
  width: 16%;
  color: lightgray;
}

#channel {
  display: flex;
  justify-content: space-between;
}

#channel-info {
  display: flex;
}

.channel-logo {
  border-radius: 50%;
  margin-left: 90px;
  margin-top: 20px;
  width: 45px;
}

#channel-text {
  margin-top: 25px;
  margin-left: 5px;
}

#subscribe {
  margin-top: 25px;
  width: 100px;
  background-color: rgb(211, 4, 4);
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 3px;
  text-align: center;
}

#text-info {
  color: white;
}

#description {
  color: white;
  margin-top: 20px;
  margin-left: 140px;
  font-size: 14px;
  margin-bottom: 10px;
}

a {
  color: rgb(62, 166, 255);
  text-decoration: none;
}

#comment-area {
  margin-top: 20px;
  margin-left: 90px;
  color: white;
  font-size: 16px;
}

#sort {
  display: flex;
}

#comment-area1 {
  margin-top: 20px;
  margin-left: 30px;
}

.sort-text {
  align-self: flex-end;
  margin-left: 10px;
  margin-bottom: 5px;
}

#add-comment {
  margin-top: 25px;
  margin-left: 10px;
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: lightgray;
  height: 30px;
}

#comment-separator {
  margin-left: 140px;
}