* {
  margin: 0;
  font-family: Roboto;
}

header {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  position: fixed;
}

#search-bar {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
}

#sign-in-button {
  text-align: center;
  background: none;
  border: 1px solid rgb(62, 166, 255);
  border-radius: 2px;
  color: rgb(62, 166, 255);
}